<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mapping</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/styles.css" rel="stylesheet">
  <style type="text/css">
    #literally {
      height: 600px;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="input-group">
        <div class="col-sm-4">
          <input type="text" class="form-control" id="author" placeholder="Author"/>
        </div>
        <div class="col-sm-4">
           <span class="input-group-btn">
                <button class="btn btn-primary" id="send">Send</button>
           </span>
        </div>
      </div>
    </div>
    <br />
    <div id="literally"></div>
  </div>

  <script src="/static/app.js"></script>
  <script type="text/javascript">
    var drawer = LC.init(document.getElementById('literally'), {
      imageURLPrefix: '/static/img',
      imageSize: {
        height: 800
      }
    });

    var config = JSON.parse('<%- JSON.stringify({
      device: device
    })%>');

    $('#send').click(function(ev) {
      drawer.getImage().toBlob(function(blob) {
        var author = $('#author').val();
        var data = new FormData();
        data.append('device', config.device);
        data.append('author', author);
        data.append('image', blob);
        console.log(data);
        $.ajax({
          url: '/api/drawing',
          method: 'POST',
          data: data,
          contentType: false,
          processData: false
        })
      }, 'image/png');
    });
  </script>
</body>
</html>
