<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mapping</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <div id="literally"></div>
  </div>
  </div>

  <script src="/static/app.js"></script>
  <script type="text/javascript">
    LC.init(document.getElementById('literally'), {
      imageURLPrefix: '/static/img'
    });
  </script>
</body>
</html>
