<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mapping</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/styles.css" rel="stylesheet">
  <style type="text/css">
    #literally {
      height: 600px;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <br />
    <div class="row">
      <div class="input-group">
        <div class="col-sm-4">
          <input type="text" class="form-control" id="author" placeholder="Author"/>
        </div>
        <div class="col-sm-4">
           <span class="input-group-btn">
                <button class="btn btn-primary" id="send">Send</button>
           </span>
        </div>
      </div>
    </div>
    <br />
    <div id="literally"></div>
  </div>

  <script src="/static/app.js"></script>
  <script type="text/javascript">
    var img = new Image();
    img.src = '/static/mask.png';
    var bgShape = LC.createShape('Image', {x: 0, y: 0, image: img});
    var drawer = LC.init(document.getElementById('literally'), {
      imageURLPrefix: '/static/img',
      imageSize: {
        width: 1920,
        height: 1200
      },
      backgroundShapes: [
        bgShape
      ],
      tools: [
        LC.tools.Pencil,
        LC.tools.Eraser,
        LC.tools.Line,
        LC.tools.Rectangle,
        LC.tools.Polygon,
        LC.tools.Pan
      ]
    });

    drawer.on('shapeSave', function(ev) {
      if (ev.shape !== bgShape) {
        drawer.saveShape(bgShape);
      }
    }.bind(this));

    drawer.setZoom(0.47);

    var config = JSON.parse('<%- JSON.stringify({
      device: device
    })%>');

    $('#send').click(function(ev) {
      drawer.saveShape(bgShape);
      if ($('#author').val() == "") {
        toastr.error('Please enter author name', 'Validation error');
        return;
      }
      drawer.getImage().toBlob(function(blob) {
        var author = $('#author').val();
        var data = new FormData();
        data.append('device', config.device);
        data.append('author', author);
        data.append('image', blob);
        $.ajax({
          url: '/api/drawing',
          method: 'POST',
          data: data,
          contentType: false,
          processData: false
        }).done(function(result) {
          drawer.clear();
          toastr.success(author + "'s drawing has been sent", 'Drawing sent');
        }.bind(this))
         .fail(function() {
           toastr.error('Please check WiFi connectivity', 'Network error');
         });
      }, 'image/png');
    });
  </script>
</body>
</html>
